<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :username %><br />
  	<%= f.text_field :username, :placeholder => "Desired User Name" %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :first_name %><br />
  	<%= f.text_field :first_name, :placeholder => "First Name" %></div>

  <div><%= f.label :last_name %><br />
  	<%= f.text_field :last_name, :placeholder => "Last Name" %></div>
  
  <div><%= f.label :province %><br />
  	<%= f.select :province, [
  			["Alberta", "AB"],
  			["British Columbia", "BC"],
  			["Manitoba", "MB"],
  			["New Brunswick", "NB"],
  			["Newfoundland and Labrador", "NL"],
  			["Nova Scotia", "NS"],
  			["Ontario", "ON"],
  			["Prince Edward Island", "PE"],
  			["Quebec", "QC"],
  			["Saskatchewan", "SK"],
  			["Northwest Territories", "NT"],
  			["Nunavut", "NU"],
  			["Yukon", "YT"]
  		], :placeholder => "Last Name" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
